<!DOCTYPE html>
<html>
<head>
  <title>prettypuck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href='css/main.css' rel='stylesheet'>
</head>
<body>
	<div class="masthead-nav">
	<nav>
		<form action="/nhl">
	    <input type="text" name="query" placeholder = "Search" autofocus>
	    <button>Search</button>
	    </form>
		<a href="/home">Home</a>
		<a href="/team">Teams</a>
		<a href="/player">Players</a>
		<a href="/statistics">Statistics</a>
		<a href="/standings">Standings</a>
	</nav>
</div>


<%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
